@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex; 
}

/* ===== navbar ===== */
.container {
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav {
    height: 75%;
    width: 110px;
    background: #242424;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
}

h1 {
    color: var(--white);
    font-family: 'Titillium Web', sans-serif;
    font-size: 2.4rem;
    text-align: center;
}

.logo {
    border-radius: 50px;
    background: var(--off-white);
    height: 75px;
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 3px solid var(--white);
    box-shadow: inset 0 0 5px black;
    font-size: 1.5rem;
    overflow: hidden;
    margin-bottom: 2rem;
}

.circle {
    color: var(--crimson);
    animation: moveCircle 5s ease-in-out 2s;
    animation-iteration-count: 3;
}

@keyframes moveCircle {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-60px);
    }

    100% {
        transform: translateX(0);
    }
}

.cross {
    color: var(--darkened-blue);
    position: absolute;
    transform: translateX(60px);
    animation: moveCross 5s ease-in-out 2s;
    animation-iteration-count: 3;
}

@keyframes moveCross {
    0% {
        transform: translateX(60px);
    }

    50% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(60px);
    }
}

.change-theme,
.restart-game {
    background: var(--white);
    border: none;
    font-size: 1.1rem;
    height: 55px;
    width: 80%;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    cursor: pointer;
}

.restart-game {
    margin-bottom: 3rem;
}

.change-theme i,
.restart-game i {
    font-size: 1.2rem;
    transition: 0.5s ease;
}

.button-subtext {
    position: absolute;
    transform: translateY(60px);
    transition: 0.5s ease;
    font-family: 'Barlow', sans-serif;
}

.change-theme:hover i,
.restart-game:hover i {
    transform: translateY(-60px);
}

.change-theme:hover .button-subtext,
.restart-game:hover .button-subtext {
    transform: translateY(0);
}

/* ===== main game area ===== */
main {
    height: 100%;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    height: 450px;
    width: 450px;
    border: 4px solid var(--grid-border);
    border-radius: 4px;
}

/* ===== game squares ===== */

/* ===== custom variables ===== */
:root {
    --castle: '\f447';
    --knight: '\f441';
    --dragon: '\f6d5';
    --wizard: '\f6e8';

    --white: white;
    --off-white: #eaebea;
    --dark-grey: #242424;
    --black: black;

    --crimson: crimson;
    --darkened-crimson: rgb(152, 7, 36);
    --blue: rgb(32, 179, 209);
    --darkened-blue: rgb(7, 121, 150);
}

.default {
    --grid-border: var(--dark-grey);
    --selected-box-shadow: var(--dark-grey);

    --p1-marker: var(--castle);
    --p1-bg: var(--white);
    --p1-color: var(--dark-grey);
    --p1-border: var(--dark-grey);
    --p1-box-shadow: var(--dark-grey);
    --p2-marker: var(--knight);
    --p2-bg: var(--dark-blue);
    --p2-color: var(--white);
    --p2-border: var(--white);
    --p2-box-shadow: var(--dark-blue);
}

.color {
    --grid-border: var(--darkened-crimson);
    --selected-box-shadow: var(--white);

    --p1-marker: var(--dragon);
    --p1-bg: var(--crimson);
    --p1-color: var(--black);
    --p1-border: var(--darkened-crimson);
    --p1-box-shadow: var(--white);
    --p2-marker: var(--wizard);
    --p2-bg: var(--blue);
    --p2-color: var(--black);
    --p2-border: var(--darkened-blue);
    --p2-box-shadow: var(--white);
}